#fundacao{
    margin: 40px;
    display: flex;
    flex-direction: row-reverse;
    text-align: start;
    align-items: center;
    justify-content: space-between;
}

.fundacao-section {
    margin: 50px;
    background-color: aqua;
    margin: auto;
    max-width: 1400px;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 68px;
    padding: 113px 0;
}

.container {
    flex-direction: row;
    margin: auto;
    max-width: 1400px;
    text-align: center;
    display: flex;
    align-items: center;
}

.text-section {
    width: 50%;
    padding-right: 20px;
    flex-direction: row;
}

.image-section {
    width: 50%;
}

.image-section img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #2c3e50;
}

p, ul {
    font-size: 18px;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

ul li {
    margin-bottom: 10px;
}

