
/* texto */

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #d26d00;
    
}

.text-section {
    width: 50%;
    padding-right: 20px;
}

.image-section {
    width: 50%;
}

.image-section img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #2c3e50;
}

p, ul {
    font-size: 18px;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

ul li {
    margin-bottom: 10px;
}

