@import url('https://fonts.googleapis.com/css2?family=Kulim+Park:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');
.kulim-park-extralight {
    font-family: "Kulim Park", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .kulim-park-light {
    font-family: "Kulim Park", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .kulim-park-regular {
    font-family: "Kulim Park", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .kulim-park-semibold {
    font-family: "Kulim Park", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .kulim-park-bold {
    font-family: "Kulim Park", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .kulim-park-extralight-italic {
    font-family: "Kulim Park", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .kulim-park-light-italic {
    font-family: "Kulim Park", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .kulim-park-regular-italic {
    font-family: "Kulim Park", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .kulim-park-semibold-italic {
    font-family: "Kulim Park", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .kulim-park-bold-italic {
    font-family: "Kulim Park", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
body {
    margin: 0%;
    padding: 0%;
    width: 1440px;
    height: 1034px;
    background-image: url(assets/shutterstock_1954078291-scaled-2.jpg);
    background-position: center;
    background-size: cover;
}

.navbar {
    width: 1422px;
    height: 138px;
    display: flex;
    justify-content:space-around;
}

.menu {
    width: 837px;
    height: 49.5px;
    display: flex;
    justify-content:space-around;
}

.banner {
    width: 1440px;
    height: 750px;
    display: flex;
}

.bannercentro {
    justify-items: center;
}

h1 {
    font-size: 128px;
    color: #ffff;
    justify-items: center;
}
p {
    font-family: "Kulim Park";
    color: #DF994E;
    font-weight: bold;
    size: 32px;
}